# Top Earners in Movie Industry

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

<a id="#intro"></a>
## Introduction

> This analysis project is to be done using the imdb movie data. When the analysis is completed, you should be able to find the top 5 highest grossing directors, the top 5 highest grossing movie genres of all time, comparing the revenue of the highest grossing movies and which companies released the most movies. 

> There are 10 columns that will not be needed for the analysis. Use pandas to drop these columns. HINT: Only the columns pertaining to revenue will be needed.

> To get you started, I've already placed the needed code for getting the packages and datafile that you will be using for the project.

In [34]:
!pip install numpy
!pip install pandas
import csv
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.20.3)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [78]:
#Creating Function to open and read CSV data
def open_csv(filename, d = ','):
    #define an empty list to store data
    data = []
    
    with open(filename, encoding = 'utf-8') as mData:
        #csv reader method to create a python list
        info = csv.reader(mData, delimiter = d)
        
        # Loop over info and append to data list
        for row in info:
            data.append(row)
    return data

csv_data = open_csv('../imdb-movies/files/imdb-movies.csv')

print(csv_data[1:5])

[['135397', 'tt0369610', '32.985763', '150000000', '1513528810', 'Jurassic World', "Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vincent D'Onofrio|Nick Robinson", 'http://www.jurassicworld.com/', 'Colin Trevorrow', 'The park is open.', 'monster|dna|tyrannosaurus rex|velociraptor|island', 'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.', '124', 'Action|Adventure|Science Fiction|Thriller', 'Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu', '6/9/15', '5562', '6.5', '2015', '137999939.280026', '1392445892.5238'], ['76341', 'tt1392190', '28.419936', '150000000', '378436354', 'Mad Max: Fury Road', 'Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nicholas Hoult|Josh Helman', 'http://www.madmaxmovie.com/', 'George Miller', 'What a Lovely Day.', 'future|chase|post-apocalyptic|dystopia|australia', "An apocalyptic story set in the furthest reaches of our planet, in a stark desert landscape where humanity is broken, and most everyone is crazed fighting for the necessities of life. Within this world exist two rebels on the run who just might be able to restore order. There's Max, a man of action and a man of few words, who seeks peace of mind following the loss of his wife and child in the aftermath of the chaos. And Furiosa, a woman of action and a woman who believes her path to survival may be achieved if she can make it across the desert back to her childhood homeland.", '120', 'Action|Adventure|Science Fiction|Thriller', 'Village Roadshow Pictures|Kennedy Miller Productions', '5/13/15', '6185', '7.1', '2015', '137999939.280026', '348161292.489031'], ['262500', 'tt2908446', '13.112507', '110000000', '295238201', 'Insurgent', 'Shailene Woodley|Theo James|Kate Winslet|Ansel Elgort|Miles Teller', 'http://www.thedivergentseries.movie/#insurgent', 'Robert Schwentke', 'One Choice Can Destroy You', 'based on novel|revolution|dystopia|sequel|dystopic future', 'Beatrice Prior must confront her inner demons and continue her fight against a powerful alliance which threatens to tear her society apart.', '119', 'Adventure|Science Fiction|Thriller', 'Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel', '3/18/15', '2480', '6.3', '2015', '101199955.472019', '271619025.407628'], ['140607', 'tt2488496', '11.173104', '200000000', '2068178225', 'Star Wars: The Force Awakens', 'Harrison Ford|Mark Hamill|Carrie Fisher|Adam Driver|Daisy Ridley', 'http://www.starwars.com/films/star-wars-episode-vii', 'J.J. Abrams', 'Every generation has a story.', 'android|spaceship|jedi|space opera|3d', 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.', '136', 'Action|Adventure|Science Fiction|Fantasy', 'Lucasfilm|Truenorth Productions|Bad Robot', '12/15/15', '5292', '7.5', '2015', '183999919.040035', '1902723129.80182']]

In [38]:
# pandas read csv
movies = pd.read_csv('../imdb-movies/files/imdb-movies.csv', sep=',')
movies

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

### Drop columns without neccesary information and remove all records with no financial information -- Pay close attention to things that don't tell you anything regarding financial data

In [45]:
movies_id = movies['imdb_id']

print(movies_id)

0        tt0369610
1        tt1392190
2        tt2908446
3        tt2488496
4        tt2820852
           ...
10861    tt0060371
10862    tt0060472
10863    tt0060161
10864    tt0061177
10865    tt0060666
Name: imdb_id, Length: 10866, dtype: object

### Data Cleaning

In [180]:
# Delete all records with null, or empty values

#### Here's a helpful hint from my own analysis when I ran this the first time. This may help shed light on what your data set should look like.

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

<a id="eda"></a>
## Exploratory Data Analysis

> Use Matplotlib to display your data analysis

### Which production companies released the most movies in the last 10 years? Display the top 5 production companies.

### What 5 movie genres grossed the highest all-time?

In [90]:
highest_gross_genres= movies[['revenue_adj', 'genres','imdb_id' ]].sort_values(['revenue_adj','genres'], ascending=False).reset_index(drop=True)
highest_gross_genres

        revenue_adj                                    genres    imdb_id
0      2.827124e+09  Action|Adventure|Fantasy|Science Fiction  tt0499549
1      2.789712e+09          Adventure|Action|Science Fiction  tt0076759
2      2.506406e+09                    Drama|Romance|Thriller  tt0120338
3      2.167325e+09                     Drama|Horror|Thriller  tt0070047
4      1.907006e+09                 Horror|Thriller|Adventure  tt0073195
...             ...                                       ...        ...
10861  0.000000e+00                                       NaN  tt0117880
10862  0.000000e+00                                       NaN  tt0250593
10863  0.000000e+00                                       NaN  tt0097446
10864  0.000000e+00                                       NaN  tt0193716
10865  0.000000e+00                                       NaN  tt0065904

[10866 rows x 3 columns]

### Who are the top 5 grossing directors?

In [ ]:
<h5>Action|Adventure|Fantasy|Science Fiction<h5>
<h5>

In [88]:
highest_gross_directors= movies[['revenue_adj','revenue', 'director', 'imdb_id', ]].sort_values(['revenue_adj'], ascending=False).reset_index(drop=True)
highest_gross_directors

        revenue_adj     revenue                  director    imdb_id
0      2.827124e+09  2781505847             James Cameron  tt0499549
1      2.789712e+09   775398007              George Lucas  tt0076759
2      2.506406e+09  1845034188             James Cameron  tt0120338
3      2.167325e+09   441306145          William Friedkin  tt0070047
4      1.907006e+09   470654000          Steven Spielberg  tt0073195
...             ...         ...                       ...        ...
10861  0.000000e+00           0             Terry Klassen  tt3504064
10862  0.000000e+00           0             Tim McCanlies  tt1833888
10863  0.000000e+00           0  Ben Garant|Thomas Lennon  tt2318527
10864  0.000000e+00           0               Adrian Moat  tt2299248
10865  0.000000e+00           0          Harold P. Warren  tt0060666

[10866 rows x 4 columns]

### Compare the revenue of the highest grossing movies of all time.

In [80]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()
# too many columns - let's combine indexing with sorting and a reset to perform this on a smaller dataframe
highest_gross_movies= movies[['revenue_adj','revenue', 'original_title', 'imdb_id', ]].sort_values(['revenue_adj'], ascending=False).reset_index(drop=True)
highest_gross_movies

        revenue_adj     revenue              original_title    imdb_id
0      2.827124e+09  2781505847                      Avatar  tt0499549
1      2.789712e+09   775398007                   Star Wars  tt0076759
2      2.506406e+09  1845034188                     Titanic  tt0120338
3      2.167325e+09   441306145                The Exorcist  tt0070047
4      1.907006e+09   470654000                        Jaws  tt0073195
...             ...         ...                         ...        ...
10861  0.000000e+00           0  Barbie: The Pearl Princess  tt3504064
10862  0.000000e+00           0                 Angels Sing  tt1833888
10863  0.000000e+00           0                   Hell Baby  tt2318527
10864  0.000000e+00           0             Killing Lincoln  tt2299248
10865  0.000000e+00           0    Manos: The Hands of Fate  tt0060666

[10866 rows x 4 columns]

<a id="conclusions"></a>
## Conclusions

> Using the cell below, write a brief conclusion of what you have found from the anaylsis of the data. The Cell below will allow you to write plan text instead of code.

In [97]:
movies.head(1)
movies[['original_title','director','genres','production_companies','revenue_adj']].describe()
avgsortmovies = movies['revenue_adj', 'genres','imdb_id' ]].sort_values(['revenue_adj','genres'], ascending=False).reset_index(drop=True)
avgsortmovies

SyntaxError: unmatched ']' (Temp/ipykernel_12820/3216316069.py, line 3)